@model UpdateStaffViewModel

@{
    Layout = "_AdminLayout";
}
<form method="post">
    <input type="hidden" asp-for="Id">
    <label>Personel Adı</label>
    <input type="text" asp-for="Name" class="form-control"/>
    <br/><br/>
    <label>Personel Ünvanı</label>
    <input type="text" asp-for="Title" class="form-control"/>
    <br/><br/>
    <label>Sosyal Medya 1</label>
    <input type="text" asp-for="Social1" class="form-control"/>
    <br/><br/>
    <label>Soysal Medya 2</label>
    <input type="text" asp-for="Social2" class="form-control"/>
    <br/><br/>
    <label>Soysal Medya 3</label>
    <input type="text" asp-for="Social3" class="form-control"/>
    <br/><br/>
    <button class="btn btn-primary">Güncelle</button>
</form>